Django==2.2
django-expiring-token==1.0.2
django-jsonfield==1.4.1
django-otp==1.0.2
django-smart-selects==1.5.9
djangorestframework==3.9.4
mysqlclient==2.0.2
Pillow==8.0.1
pkg-resources==0.0.0
pyotp==2.4.1
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
https://github.com/darklow/django-suit/tarball/v2
